/* SECCIÓN: RESETEO DE PARÁMETROS HTML */
html, body {
	font-size: 0.85em;
	margin: 0;
	padding: 0;
	background: #eeeeee url(../images/css_body.gif) center 142px repeat-x;
	}
body, input, textarea, select, optgroup {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	color: #6B716D;
	}
input, textarea, select, optgroup, table, tr, th, td  {
	font-size: 100%;
	}
p, ul, ol, li, dl, dt, dd, form, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	}
p, li, dt, dd, div {
	line-height: 1.4em;
	}
ul, ol, li, dl, dt, dd {
	list-style: none;
	}
acronym, abbr {
	cursor: help;
	}
img {
	border: 0;
	}
kbd {
	line-height: 2em;
	border-top: .15em solid #CCC;
	border-right: .25em solid #AAA;
	border-bottom: .3em solid #888;
	border-left: .2em solid #BBB;
	padding: 0 .2em;
	background: #EEE;
	vertical-align: text-bottom;
	font-size: 95%;
	font-family: "Courier New", Courier, monospace;
	}
a{
	color:#6B716D;
}

/* SECCIÓN: CLASES GENERALES DE LA PÁGINA */
.print {
	display: none;
	}
.noPrint {
	display: block;
	}
.limpiar {
	display: block;
	clear: both;
	font-size: .000001em;
	line-height: .000001em;
	height: .000001em;
	}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
.oculto, .logoPrint {
	display: none;
	}


/* SECCIÓN: APOYO A LOS LECTORES DE TEXTO */
.ayudaAcces {
	position: absolute;
	left: -10000px;
	top: 0;
	width: .000001em;
	font-size: .000001em;
	line-height: .000001em;
	}
a.ayudaAcces:active {
	position: static;
	width: auto;
	height: auto;
	}

/* SECCIÓN: ARMAZÓN DE LA PÁGINA */
/* Contenedor de la cabacera y contenido */
#contenedor {
	position: relative;
	width: 973px;
	background:#FFFFFF;
	margin:15px auto 20px auto;
	padding-bottom:20px;
	}
#cuerpo {
	position: relative;
	padding-top:190px;
	}
.interiorDivision #cuerpo {
	padding-top:190px;
	}
#cabecera{
	position:absolute;
	top:0;
	background:#FFFFFF url(../images/css_cabecera.gif) top center no-repeat;
	width:933px;
	padding:7px 20px 0 20px;
	}
#logo_cabecera{
	height:82px;
	padding-top:26px
	}
#cab_dcha{
	position:absolute;
	top:20px;
	right:13px;
	width:650px;
	text-align:right;
	color:#606564;
	}
	#menu_sup{
		color:#606564;
		}
	#menu_sup ul{
		text-align:right;
		display:inline;
		}
	#menu_sup ul.menu{
		margin-left:40px;
		}
	#menu_sup ul li{
		display:inline;
		background:url(../images/css_menu_sup_li.gif) 0px 3px no-repeat;
		padding-left:1px;
		}
	#menu_sup ul li.primero{
		background:none;
		}
	#menu_sup ul li:last-child{ font-weight: bold; }
	#menu_sup ul li a{
		padding:0px 6px 0px 7px;
		display:inline-block;
		color:#6B716D;
		text-decoration:none;
		}
	#menu_sup ul li a:hover,#menu_sup ul li a:focus{
		text-decoration:underline;
		}
#buscador{
	position:absolute;
	top:52px;
	right:20px;
	width:650px;
	text-align:right;
}
	#buscador .inputbox{
		border:1px solid #6B716D;
		font-size:100%;
		padding:3px;
		width:150px;
	}
	#buscador .inputbox.enfocado{
		background:#fcf0e8;
	}
	#buscador .button{
		background:#6B716D;
		color:#FFFFFF;
		font-weight:bold;
		text-transform:uppercase;
		border:none;
		margin-left:6px;
		font-size:100%;
		padding:3px 5px;
		display:inline-block;
		overflow:visible;
		cursor:pointer;	
	}
	#buscador .button:hover, #buscador .button:focus{
		background:#CF3604;
	}

#menu_ppal {
	font-weight: bold;
	font-size: 110%;
	background: #E4E8E6 url(../images/css_menu_ppal.gif) 0 0 repeat-x;
	color: #565959;
	margin-top:2px;
	margin-bottom:1px;
}
	#menu_ppal a{
		color: #565959;	
	}
	#menu_ppal #enlace_anterior, #menu_ppal #enlace_posterior {
		left:-10000px;
		position:absolute;
		}
	#menu_ppal ul li {
		background: url(../images/css_menu_ppal_li.gif) 0 12px no-repeat;
		padding-left:5px;
		float: left;
		position: relative;
		z-index: 1200;
		}
	#menu_ppal ul li.primero {
		background: none;
		padding-left:0;
		}
	#menu_ppal ul li a{
		background: #E4E8E6;
		color: #565959;
		text-decoration: none;
		padding: 3px 4px;
		display: block;
		margin:0 2px;
		border:1px solid #E4E8E6;
		border-bottom:none;
		border-top:1px solid #FFFFFF;
		}
	#menu_ppal ul li a:hover,
	#menu_ppal ul li a:focus,
	#menu_ppal ul li a.representarHover{
		text-decoration: none;
		background: #FFFFFF;
		border:1px solid #dad9d9;
		border-bottom:none;
		color:#CF3604;
	}
	#menu_ppal ul li.active a{
		color:#CF3604;
	}

	#menu_ppal ul ul {
		z-index: 1300;
		position: absolute;
		top: 2.18em;
		left: -10000px;	
		padding:0 0 3px 0;
		margin: 0;	
		font-size: 110%;
		width: 160px;
		font-weight: normal;
		font-size: 0.9em;
		background: #eff0ef url(../images/css_menu_ppal_ul_ul.gif) 0 0 repeat-x;
		border:1px solid #dad9d9;
		border-top:none;
		margin-left:7px;
		}
	#menu_ppal ul li.primero ul {
		margin-left:2px;
		}
	#menu_ppal ul ul span.borde{
		display:inline-block;
		background:#dad9d9;
		height:1px;
		float:right;
		font-size:1px;
		margin-bottom:3px;
		}
	#menu_ppal ul ul li,	
	#menu_ppal ul ul li.primero {
		float: none;
		padding: 0;
		margin: 0;
		background:none;
		line-height:1.2;
		}
	#menu_ppal ul ul li a{
		display:inline-block;
		clear:both;
		color: #CF3604;
		background:none;
		border:none;		
		}
	#menu_ppal ul ul li a:hover, #menu_ppal ul ul li a:focus{
		text-decoration:underline;
		border:none;
		background:none;
		}
	#menu_ppal ul ul ul {
		display: none;
		}
	/* Estilos para el menú de Divisiones */
	#menu_ppal ul li.item5 ul {
		width: 560px;
		}	
	#menu_ppal ul li.item5 ul li {
		font-size:1.1em;
		width:160px;
		float:left;
		padding:5px;		
		}
	#menu_ppal ul li.item5 ul li a.divisiones{
		font-weight:bold;
		color: #565959;
		display:block;
		margin:.2em 2px;
		}	
	#menu_ppal ul li.item5 ul ul{
		display:block;
		position:relative;
		left:0;
		top:0;
		border:none;
		background:none;
		width:100%;
		margin-left:0;
		}
	#menu_ppal ul li.item5 ul ul li{
		float:none;
		font-size:1em;
		padding:0;
		margin:0;
		}
	#menu_ppal ul li.item5 ul ul li a{
		font-weight:normal;
		color: #CF3604;
		text-decoration:none;
		cursor:pointer;
		}
	#menu_ppal ul li.item5 ul ul li a:hover, #menu_ppal ul li.item5 ul ul li a:focus{
		text-decoration:underline;
		background:none;
		}	
	#menu_ppal ul li.item5 ul li.item6,
	#menu_ppal ul li.item5 ul li.item24,
	#menu_ppal ul li.item5 ul li.item20{
		min-height:11.5em;/** IE6 **/
		}	
	#menu_ppal ul li.item5 ul li.item24,
	#menu_ppal ul li.item5 ul li.item24 ul li,
	#menu_ppal ul li.item5 ul li.item30,
	#menu_ppal ul li.item5 ul li.item30 ul li{
		width:200px;
		}
	#menu_ppal ul li.item5 ul li.item24 ul a{
		}
		
#menuDivisiones{
	font-size: 110%;
	background: #646F67 url(../images/css_menuDivisiones.gif) 0 0 repeat-x;
	color: #FFFFFF;
	border-bottom:1px solid #FFFFFF
	
}
	#menuDivisiones a{
		color: #FFFFFF;	
	}
	#menuDivisiones #enlace_anterior, #menuDivisiones #enlace_posterior {
		left:-10000px;
		position:absolute;
		}
	#menuDivisiones ul li {
		float: left;
		position: relative;
		}
	#menuDivisiones ul li a{
		background: url(../images/css_menuDivisiones_li_A25018.gif) bottom right no-repeat;
		color: #FFFFFF;
		text-decoration: none;
		padding: 7px 31px 11px 10px;
		display: block;
		width:114px;
		line-height: 1.1;
		height:28px;
		}
	#menuDivisiones ul li.item582 a{
		background-image: url(../images/css_menuDivisiones_li_417630.gif)
	}
	#menuDivisiones ul li.item598{
		display: none;
	}
	#menuDivisiones ul li.item598 a{
		background-image: url(../images/css_menuDivisiones_li_6C3A77.gif)
	}
	#menuDivisiones ul li.item605 a{
		background-image: url(../images/css_menuDivisiones_li_9C9100.gif);
		width:117px;
	}
	#menuDivisiones ul li.item613 a{
		background-image: url(../images/css_menuDivisiones_li_4E3227.gif);
	}
	#menuDivisiones ul li.item583 a{
		background-image: url(../images/css_menuDivisiones_li_002144.gif);
	}
	#menuDivisiones ul li.item628 a{
		background-image: url(../images/css_menuDivisiones_li_00AF9D.gif);
	}	
	#menuDivisiones ul li a:hover{
		text-decoration:underline;
	}
		
#pie{
	margin:10px 20px 0 20px;
	background:#6B716D url(../images/css_cabecera.gif) top center no-repeat;
	color:#FFFFFF;
	padding:10px 15px 15px 15px;
	text-align:right;
	font-weight:bold;
	}
	#pie a{
		color:#FFFFFF;
	}
	#cont_pie{
		position:relative;
	}
	#pie_col01{
		float:left;
		text-align:left;
		}
	#pie_col01 .pieDatos{
		font-weight:normal;
		padding: .5em 0 0 0;
		}
	#pie_copy strong{
		text-transform:uppercase;
		}
	#pie_col02{
		position:absolute;
		right:0;
	}
	#pie_col02 ul{
		}
	#pie_col02 ul li{
		display:inline;
		padding-left:13px;
		background:url(../images/css_pie_col02_li_a.gif) 5px 2px no-repeat;
		}
	#pie_col02 ul li.primero{
		padding:0;
		background:none;
		}
	#pie_col02 ul li a{
		color:#FFFFFF;
		text-decoration:none;
		}
	#pie_col02 ul li a:hover, #pie_col02 ul li a:focus{
		text-decoration:underline;
		}
	
/*** Calendario de eventos ***/
#agendaCalendario{
	background:#e4e8e6;
	text-align:center;
	color:#333333;
	margin-bottom:2em;
	font-size:95%;
}	
	#agendaCalendario .agendaMes{
		font-weight:bold;
		padding:2px;
		overflow:hidden
	}
	#agendaCalendario .agendaMes span{
		margin:0 3.5em;
	}
	#agendaCalendario .agendaMes .anterior,
	#agendaCalendario .agendaMes .siguiente{
		font-size:1px;
		text-indent:-1000px;
		background:url(../images/css_agendaMes_anterior.gif) 8px 5px no-repeat;
		width:4px;
		height:8px;
		display:inline-block;
		text-decoration:none;
		padding:5px 8px;
	}
	#agendaCalendario .agendaMes .siguiente{
		background:url(../images/css_agendaMes_siguiente.gif) 8px 5px no-repeat;
	}
	#agendaCalendario .agendaEventos{
		width:100%;
		border-collapse:collapse;
		margin:0;
		background:#e4e8e6 url(../images/css_agendaEventos.gif) bottom repeat-x;
		border:0;
	}
	#agendaCalendario .agendaEventos caption{
		display:none;
	}
	#agendaCalendario .agendaEventos th,
	#agendaCalendario .agendaEventos td{
		width:1px;
		white-space:nowrap;
		padding:1px;
		border:0;
	}
	#agendaCalendario .agendaEventos th.primera,
	#agendaCalendario .agendaEventos th.ultima
	#agendaCalendario .agendaEventos td.primera,
	#agendaCalendario .agendaEventos td.ultima{
		width:50%;
	}
	#agendaCalendario .agendaEventos th.primera,
	#agendaCalendario .agendaEventos td.primera{
		text-align:right;
	}
	#agendaCalendario .agendaEventos th.ultima,
	#agendaCalendario .agendaEventos td.ultima{
		text-align:left;
	}
	#agendaCalendario .agendaEventos td span,	
	#agendaCalendario .agendaEventos td a{
		width:2.1em;
		display:inline-block;
		white-space:nowrap;
		text-align:center;
		padding:3px 1px;
	}
	#agendaCalendario .agendaEventos th{
		background:#FFFFFF;
		font-weight:normal;
		color:#F26200;
		padding:3px 1px;
		border-top:1px solid #D9D9D9;
		border-bottom:1px solid #D9D9D9;
	}
	#agendaCalendario .agendaEventos td.hoy span{
		background:#FFFFFF;
		font-weight:bold;
		border: 1px solid #FFFFFF;
		padding:2px 0;
	}
	#agendaCalendario .agendaEventos td.conEvento a{
		background:#F26200;
		color:#FFFFFF;
		text-decoration:none;
		border:1px solid #F26200;
		padding:2px 0;
	}
	#agendaCalendario .agendaEventos td.conEvento a:hover{
		background:#FFFFFF;
		color:#F26200;
	}
	
	#menu_unes_select{
		margin:20px 0 5px 0;
		z-index:1100;
	    display: inline-block;
	    height: 32px;
	    min-width: 147px;
	    position: relative;
		}
		
	#menu_unes_select .selectBox{
		background-attachment: scroll;
	    background-clip: border-box;
	    background-color: #DDDDDD;
	    background-image: url("../images/css_menu_unes_select_selectBox.gif"), url("../images/css_menu_unes_select_selectBox.gif"), url("../images/css_menu_unes_select_selectBox.gif"), url("../images/css_menu_unes_select_selectBox.gif");
	    background-origin: padding-box;
	    background-position: 0 -136px, right -204px, 50% -68px, 0 0;
	    background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
	    background-size: auto auto;
	    border:1px solid #CCCCCC;
	    border-radius: 3px 3px 3px 3px;
	    color: #333333;
	    cursor: pointer;
	    position: absolute;
	    text-shadow: 1px 1px 0 #EEEEEE;
	    width: 147px;
		white-space:nowrap;	
	    padding:8px 30px 9px 10px;
		}
	#menu_unes_select .selectBox div{
	    overflow:hidden;
	}
			
	#menu_unes_select .selectBox:hover,
	#menu_unes_select .selectBox.active{
		background-position: 0 -170px, right -238px, 50% -102px, 0 -34px;
	    color: #000000;
	    text-shadow: 1px 1px 0 #9BC2D0;
		}		
	
	#menu_unes_select ul.menu{
		display:none;
		position:absolute;
		background:url("../images/css_menu_unes_select_ul_menu.gif") repeat-x 0 0 #EFF0EF;
		top:34px;
		left:0;
		width:auto;
	    border:1px solid #CCCCCC;
	    border-radius: 0px 3px 3px 3px;
	    padding-bottom:1em;
	    font-size:95%;
	    height:auto;
		}
	
	#menu_unes_select ul li{
		display:block;
		}
	#menu_unes_select ul li a{
		display:block;
		padding:.5em 9px;
		font-weight:bold;
		text-decoration:none;
		white-space:nowrap;
		}
	#menu_unes_select ul li.active a{
		
	}
	
	#menu_unes_select ul li.current a{
		color:#F26200;
	}
	
	#menu_unes_select ul li a:hover, 
	#menu_unes_select ul li a:focus{
		text-decoration:underline;
		}
	
	#menu_unes_select ul li ul{
		margin:0 0 0 13px;
		}
	
	#menu_unes_select ul li ul li a{
		position:relative;
		color:#6B716D;
		font-size:1em;
		font-weight:normal;
		padding:0 10px 0 8px;
		width:auto;
		background:	url("../images/css_menu_unes_select_ul_menu_li_li.gif") 0 .5em no-repeat;
		}
	
	