@import url(contenido.css);
html, body {
	font-size: 0.9em;
	margin: 0;
	padding: 0;
	line-height:1.8
	}
body, input, textarea, select, optgroup {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	}
*{
	background:none !important;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
#cont_secundarias{
	padding:0;
}	
#col_cont_interior{
	float:none;
	width:auto;
}
.ayudaAcces, #migas, .menu, #compartir_articulo, #col_menu_interior, #cabecera {
	display:none;
}
.contenido h1{
	background:none;
	text-transform:none;
	font-size:1.7em;
	color:#000000;
}
	.contenido h1 span{
		background:none;
		padding:0;
	}
.contenido .entradilla{
	text-align:center;
	}
	.contenido .entradilla,
	.contenido .entradillaIzda,
	.contenido .entradillaDcha{
	color:#F26200;
	padding-left:0;
	}
#datos_articulo {
	margin-bottom:1em;
}
#pie{
	border-top:1px solid #CCCCCC;
	padding:1em 0;
}
#pie p{
	margin:0;
}
#pie p.pieDatos{
	font-size:75%;
}
#datos_articulo .fechaItem{
	float:none;
}
.logoPrint{
	display: block;
	border-bottom:1px solid #CCCCCC;
}
.logoPrint .oculto{
	display: block;
}
.logoPrint .oculto ul{
	margin:0;
	padding:.2em 1em;
}
.logoPrint .oculto li{
	float:left;
	font-size:75%;
	margin-right:2em;
}
.logoPrint .empresaPrint{
	border-bottom:5px solid #F26200;
}
.logoPrint .empresaPrint p{
	font-size:1.2em;
	font-weight:bold;
	float:left;
	margin:0;
}
.logoPrint .empresaPrint img{
	height:25px;
	float:right
}